#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp BSPC  &kp Q  &kp W  &kp E   &kp R   &kp T        &kp Y          &kp U   &kp I      &kp O    &kp P     &trans
&trans    &kp A  &kp S  &kp D   &kp F   &kp G        &kp H          &kp J   &kp K      &kp L    &kp SEMI  &kp APOS
&trans    &kp Z  &kp X  &kp C   &kp V   &kp B        &kp N          &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                        &trans  &trans  &kp SPACE    &kp BACKSPACE  &trans  &trans
            >;
        };
    };
};
